.footer {
  background-color: var(--dark-blue);
  display: flex;
}

.layout {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: space-between;
}

.logo {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
}

.navContainer {
  display: flex;
  flex-direction: column;
}

.navLinks {
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: none;
  margin: 1rem 0;
}

.credit {
  font-size: 1.1rem;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
}

.credit span {
  margin: 0 0.4rem;
  font-size: 1.2rem;
}

@media (max-width: 940px) {
  .footer {
    display: flex;
    justify-content: center;
  }

  .layout {
    flex-direction: column;
  }
  .logo {
    text-align: center;
    margin: 1rem 0;
  }
  .navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navLinks {
    margin: 1rem 0;
    margin-right: 1rem;
  }
  .credit {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
}
